.main {
  width: 80%;
  margin: 4rem auto auto auto;
}
.card {
  width: 85%;
  margin: auto;
  background-color: #28166f;
  border-radius: 20px;
  padding: 3rem 2rem;
  position: relative;
}
.card h2 {
  font-size: 2rem;
  max-width: 280px;
  margin-bottom: 1rem;
}
.card p {
  font-size: 0.9rem;
  width: 190px;
}
.logo {
  width: 250px;
  height: 100px;
  opacity: 0.3;
  position: absolute;
  top: 10px;
  right: 90px;
}
.img {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.time {
  margin: 4rem 0;
}
.time p {
  margin: 2rem 0;
}
.btn {
  margin: 3rem auto auto auto;
}
.btn > button {
  background: #28166f;
  border-radius: 10px;
  border: none;
  width: 200px;
  display: block;
  padding: 0.75rem 1rem;
}
@media screen and (max-width: 900px) {
  .main {
    width: 100%;
  }
  .card {
    width: 95%;
  }
}
